.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.scrollUp:hover {
  background-color: var(--primary);
  color: white;
  transform: translateY(-5px);
  border: 3px solid var(--primary);
}