.container {
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    --position: 50%;
}

.image__container {
    position: relative;
}

.image__before {
    position: absolute;
    width: var(--position);
    height: 600px;
    transform: translateY(-20%);
    object-fit: cover;
    object-position: 0 0;
    left: 0;
    top: 0;

}
.image__after {
    position: absolute;
    width: calc(100% - var(--position));
    height: 600px;
    transform: translateY(-20%);
    object-fit: cover;
    object-position: 100% 0;
    right: 0;
    top: 0;
}

.input {
    position: absolute;
    left: 0;
    top: 0;
    cursor: ew-resize;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.input :focus {
    outline: 2px solid var(--dark);
    outline-offset: 2px;
}

.slider {
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background-color: white;
    z-index: 10;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.slider__icon {
    position: absolute;
    background-color: white;
    color: var(--dark);
    padding: 0.5rem;
    display: grid;
    place-content: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%);
    pointer-events: none;
    z-index: 20;
    border-radius: 100%;

}