.kitchens {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    
}

.kitchen__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 2rem;
}

.kitchen__items >:nth-child(3n+1) {
    grid-column: span 2;
}