.container {
    padding: 12vh 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.kitchens {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 100%;
    height: 100%;
}

.kitchen__items {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 2rem;
}

.kitchen__items > * {
    height: 40vh;
    z-index: 90;
}

.kitchen__items >:nth-child(3n+1) {
    grid-column: span 2;
    height: 80vh;
}

@media (max-width: 480px) {
    .kitchen__items > * {
        grid-column: span 2;
        height: 40vh;
    }
}