.advantage_container {
  display: flex;
}
.advantage_container > * {
  width: 50%;
}

.advantage_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.advantage_item {
  display: flex;
  gap: 1rem;
}

.advantageText {
  color: var(--secondary);
  font-weight: 700;

  font-size: calc(1 * var(--scale));
  line-height: calc(1.1 * var(--scale));
}

@media (max-width: 480px) {
  .qualityContainer {
    flex-direction: column;
  }
  .advantage_container {
    flex-direction: column;
  }
  .advantage_container > * {
    width: 100%;
  }
}