.container {
    position: fixed;
    inset: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.edit_window {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    box-shadow: inset;
    position: relative;
}

.button {
    position: absolute;
    top: 16px;
    right: 24px;
    color: gray;
    font-weight: 700;
}
.button:hover {
    color: rgb(61, 61, 61);
}

.image {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.input {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
    height: 32px;
    overflow: hidden;
    resize: none;
    outline: 1;
}
.input:hover {
    color: gray;
    cursor: pointer;
    outline: solid;
}

.flex {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

/* "mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition" */