.container {
    position: fixed;
    inset: 0;
    background-color: rgba(0.3, 0.3, 0.3, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.edit_window {
    background-color: white;
    border-radius: var(--border-radius);
    opacity: 1;
    width: 40%;
    height: fit-content;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.save_button {
    margin-top: 1rem;
    background-color: #3b82f6;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    /* width: fit-content; */
    transition: background-color 0.3s ease;
}

.save_button:hover {
    background-color: #2563eb;
    cursor: pointer;
}

.close_button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close_button:hover {
    color: rgb(80, 80, 80);
}

.contatiner_title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
    color: black;
    line-height: 4rem;
}

.image {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.input {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
    height: 32px;
    overflow: hidden;
    resize: none;
    /* outline: 1; */
}

.url {
    height: 2.5rem;
    font-size: 0.875rem;
}

.title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    outline: none;
    cursor: text;
}

.title:hover {
    color: gray;
}
/* "w-full hover:text-gray-500 hover:cursor-pointer text-2xl font-bold mb-4 outline-none" */

.description {
    cursor: text;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    height: 6rem;
    resize: none;
}

.description:hover {
    outline: solid;
    outline-width: thin;
    outline-color: gray;
}

.input:hover {
    color: gray;
    cursor: text;
    outline: solid;
}

.select {
    margin-left: 0.25rem;
    cursor: pointer;
    font-weight: 300;
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 0.1rem 0.25rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.flex {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
}

.date {
    font-size: 0.875rem;
    color: #6b6b6b;
    margin-top: 0.5rem;
}