.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.error_container {
    display: flex;
    flex: wrap;
    gap: 0.5rem;
    width: 100%;
}