.container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: var(--border-radius);
  padding: 1rem;
  gap: 0.5rem;
  width: 100%;
}

.button {
  background-color: green;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--border-radius);
  width: 7rem;
}

.button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.title_active {
  color: green;
}

.title_inactive {
  color: red;
}

@media (max-width: 1500px) {
  .container_items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .container_items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .container_items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container_items {
    grid-template-columns: repeat(1, 1fr);
  }
}