.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.button {
  background-color: green;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--border-radius);
  width: 7rem;
}

.button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.container_items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.title_active {
  color: green;
}

.title_inactive {
  color: red;
}