.card {
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 27rem;
  transition: transform 0.2s, background-color 0.2s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #f3f3f3;
}

.card img {
  height: 10rem;
}

.image_container {
  width: 100%;
  height: 10rem;
  overflow: hidden;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* object-fit: cover; */
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.description {
  color: #4a4a4a;
  margin-top: 0.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  font-size: 0.875rem;
  color: #6b6b6b;
  margin-top: 0.5rem;
}