.container {
    position: fixed;
    inset: 0;
    background-color: rgba(0.3, 0.3, 0.3, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.edit_window {
    background-color: white;
    border-radius: var(--border-radius);
    opacity: 1;
    width: 40%;
    padding: 0.5rem;
    box-shadow: inset;
    position: relative;
}

.button {
    position: absolute;
    top: 16px;
    right: 24px;
    color: gray;
    font-weight: 700;
}

.button:hover {
    color: rgb(61, 61, 61);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
    color: black;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.input {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
    height: 32px;
    overflow: hidden;
    resize: none;
    outline: 1;
}
.input:hover {
    color: gray;
    cursor: text;
    outline: solid;
}

.select {
    margin-left: 0.25rem;
    cursor: pointer;
    font-weight: 300;
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 0.1rem 0.25rem;
}

.green {
    color: green;
}
.red {
    color: red;
}

.flex {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.date {
    font-size: 0.875rem;
    color: #6b6b6b;
    margin-top: 0.5rem;
}