.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 2rem;
}

.stars__container {
    display: flex;
}

.stars {
    display: flex;
    width: 50%;
    margin-top: 1rem;
}

.rating__text {
    font-size: calc(1.2 * var(--scale));
    font-weight: 600;
    color: var(--dark);
    margin-left: 0.5rem;
}
.rating__amount {
    font-size: calc(0.8 * var(--scale));
    color: var(--secondary);
    margin-left: 0.5rem;
}
 
.reviews__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
}

.reviews {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    
    border: 1px solid var(--light);
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.review__card {
    align-items: start;
    height: auto;
}

.review__author {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.review__author__avatar {
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    object-fit: cover;
}

.review__author__name {
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}

.review {
    flex: 1;
}

.review__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.review__header {
    min-width: 0; ;
}

.review__title {
    white-space: nowrap;       /* prevents line breaks */
    font-size: calc(1 * var(--scale));
    color: var(--dark);
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}

.review__date {
    color: var(--secondary);
}

@media (max-width: 480px) {
    .reviews__container {
        flex-direction: column;
    }
}