/* Default values */
:root {
  --light: #E8EDED;
  --dark: #0A0A0A;
  --primary: #CCB559;
  --scale: 16px; /* Fallback for older browsers */
  --scale: clamp(1rem, 2vw, 2.5rem);
}

@media (max-width: 480px) {
  h1 {
    --scale: clamp(8px, 4vw, 4vw);
  }
  p {
    --scale: clamp(2rem, 6vw, 2.5rem);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Generic styling */
h1 {
  font-size: calc(4 * var(--scale));
  font-weight: 700;
  line-height: calc(4 * var(--scale));
  color: white;
  text-transform: uppercase;
}

p {
  font-size: calc(1 * var(--scale));
  line-height: calc(1 * var(--scale));
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: var(--primary);
  font-size: calc(1 * var(--scale));
}