@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
    :root {
        /* --Black: #0A0A0A;
        --Primary: #CCB559;
        --Secondary: #E8EDED;
        --White: #FFF; */
        --font-inter: "Inter", sans-serif;
    }
}


@theme {
  --color-black: #0A0A0A ;
  --color-primary: #CCB559 ;
  --color-secondary: #E8EDED ;
  --color-white: #FFF ;
  --font-inter: "Inter", sans-serif;
}

html {
    font-size: calc((100vw / 1440) * 16); /* Proportionele scaling */
}

body {
    font-family: var(--font-inter);
}