@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
    --color-black: #0A0A0A ;
    --color-primary: #CCB559 ;
    --color-secondary: #E8EDED ;
    --color-white: #FFF ;
    --font-inter: "Inter", sans-serif;
}

html {
    font-size: clamp(6px, 1vw + 0.1rem, 16px); /* font-size: clamp(6px(minPixels), 1vw + 0.1rem, 16px(maxpixels); 1440/100 + 1.6px(0.1rem) = 16px // Op een scherm van 1440px kom je uit op 16 pixels -> maal 1.5 rem zoals in figma is 24 pixels*/
}

body {
  font-family: var(--font-inter);
}
