@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
    --color-black: #0A0A0A ;
    --color-primary: #CCB559 ;
    --color-primary-light: #FFF5C6 ;
    --color-secondary: #E8EDED ;
    --color-white: #FFF ;
    --font-inter: "Inter", sans-serif;
}

html {
    font-size: clamp(6px, 1vw + 0.1rem, 16px); /* font-size: clamp(6px(minPixels), 1vw + 0.1rem, 16px(maxpixels); 1440/100 + 1.6px(0.1rem) = 16px // Op een scherm van 1440px kom je uit op 16 pixels -> maal 1.5 rem zoals in figma is 24 pixels*/
}

body {
  font-family: var(--font-inter);
}

.carousel-item {
  flex: 0 0 auto;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
}

button:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  z-index: 10;
  pointer-events: none;
}