/* Default values */
:root {
  --light: #E8EDED;
  --dark: #0A0A0A;
  --primary: #CCB559;
  --secondary: #474747;
  --scale: 16px; /* Fallback for older browsers */
  --scale: clamp(1.4rem, 1.5vw, 2.4rem);
  --border-radius: 0.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Generic styling */
h1 {
  font-size: calc(4 * var(--scale));
  font-weight: 700;
  line-height: calc(4 * var(--scale));
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: calc(1.5 * var(--scale));
  font-weight: 700;
  line-height: calc(1.5 * var(--scale));
  color: var(--primary);
  text-transform: uppercase;
}
h3 {
  font-size: calc(1.25 * var(--scale));
  font-weight: 600;
  line-height: calc(1.3 * var(--scale));
  color: white;
  text-transform: uppercase;
}

p {
  font-size: calc(0.75 * var(--scale));
  line-height: calc(1.1 * var(--scale));
  color: var(--dark);
}
.whiteText {
  color: white;
}

a {
  display: inline-block;
  width: auto;
  color: inherit;
  text-decoration: none;
  background-color: var(--primary);
  font-size: calc(1 * var(--scale));
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--border-radius);
  transition: 300ms ease-in-out;
}
a:hover {
  background-color: #a9902d;
  transition: 300ms ease-in-out;
}

img {
  border-radius: var(--border-radius);
}

svg {
  width: calc(var(--scale) * 1.7);
  height: calc(var(--scale) * 1.7);
  max-width: 100%;
}

.container {
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.flex {
  display: flex;
}

.background-light {
  background-color: var(--light)
}

.text-light {
  color: var(--light);
}

/* Specific styling */
.contentCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}
.content-card__left {
  flex-direction: row-reverse;
}

.contentCardItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
  object-fit: cover;
   /* square; */
}

.starIcon {
  color: var(--primary);
  margin-bottom: 1rem;
}


@media (max-width: 480px) {
  h1 {
    --scale: clamp(8px, 4vw, 4vw);
  }
  h2 {
    --scale: clamp(1.5rem, 5vw, 2rem);
  }
  h3 {
    --scale: clamp(1.25rem, 4vw, 1.5rem);
  }
  p {
    --scale: clamp(2rem, 6vw, 2.5rem);
  }
  a {
    --scale: clamp(2rem, 6vw, 2.5rem);
    padding: 45px 20px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .contentCard {
    display: flex;
    flex-direction: column;
  }
}