.header {
  height: 100vh;
  background-image: url('/images/hero.png');
  background-size: cover;

  display: flex;
  align-items: end;
}

.container {
  max-width: 1440px;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {

}
