.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.header {
  height: 100vh;
  background-image: url('/images/hero.png');
  background-size: cover;
}

.a {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
