.header {
  height: 100vh;
  background-image: url('/images/hero.png');
  background-size: cover;

  display: flex;
  align-items: end;
}

.backgroundBlack {
  background-color: var(--dark);
}

.qualityContainer {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.qualityItem {
  flex: 1;
}

.advantage_container {
  display: flex;
}
.advantage_container > * {
  width: 50%;
}

.advantage_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.advantage_item {
  display: flex;
  gap: 1rem;
}

.advantageText {
  color: var(--secondary);
  font-weight: 700;

  font-size: calc(1 * var(--scale));
  line-height: calc(1.1 * var(--scale));
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {

}
