.container_categories {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.title {
    color:black;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}