.container_categories {
    padding: 12vh 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--light);
}

.title {
    color:black;
    font-size: 2rem;
    font-weight: bold;
}