.header {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-size: cover;
}

.container {
    width: 100%;
}

.title {
    color: var(--light);
    font-size: calc(4 * var(--scale));
    font-weight: 700;
    padding-bottom: 2rem;
    margin-left: 8vw;
}

@media (max-width: 600px) {
    .title {
        font-size: clamp(2rem, 12vw, 4rem);
    }
}