.navbar * {
    all: initial;
    all: unset;
}

.navbar {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem 8vw;
    z-index: 100;
    transition: transform 0.3s ease-out;
}

.navbar__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(1 * var(--scale));
}

.navbar__desktop {
    display: flex;
    gap: 2rem;
}

.navbar__item {
    color: var(--light);
    transition: 100ms ease-in-out;
}
.navbar__item:hover {
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    transition: 100ms ease-in-out;
}

.navbar__mobile__hamburger_menu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    height: 60%;
}

.navbar__mobile__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 99vh;
    background-color: var(--light);
    /* padding: 4rem; */
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.navbar__mobile__menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60%;
}

.navbar__mobile__item {
    color: black;
    font-size: calc(0.8 * var(--scale));
    font-weight: 700;
    border-bottom: 1px solid black;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_stripe {
    width: 100%;
    height: 20%;
    background-color: var(--light);
}

.navbar__hidden {
    transform: translateY(-100%);
}

@media (max-width: 480px) {
    .navbar {
        opacity: 1;
    }
}