.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.item {
    display: inline;
}

.title {
    font-size: calc(1.1 * var(--scale));
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    margin-bottom: 1rem;
}

.price {
    font-size: calc(1.2 * var(--scale));
    color: var(--primary);
    font-weight: 700;
}

.item img {
    width: 100%;
    height: 30vh;
}

.achterwandCta {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .achterwandCta {
        flex-direction: column;
        gap: 1rem;
    }
}