.container {
    display: flex;
    margin: auto;
}

.carousel {
    overflow: hidden;
    display: flex;
    cursor: grab;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.carousel__item {
    transition: 300ms;
    flex: 0 0 auto;
}

.carousel__item:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.carousel__item img {
    width: 100%;
    height: 300px;
    pointer-events: none;  
}