.container {
    display: flex;
    margin: auto;
}

.carousel {
    overflow: hidden;
    display: flex;
    cursor: grab;
    user-select: none;
}

.carousel__item {
    transition: 300ms;
    flex: 0 0 auto;
}

.carousel__item:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.carousel__item img {
    width: 100%;
    height: auto;
}