.container {
    display: flex;
    margin: auto;
}

.carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    cursor: grab;
    user-select: none;
}

.carousel__item :hover {
    transform: scale(1.05);
    filter: brightness(0.7);
    transition: 300ms;
    pointer-events: none;
}