.footer {
  background-image: url("/images/footer_kitchen.jpg");
  width: 100vw;
  /* height: 50vh; */
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer__container {
  display: flex;
  gap: 10rem;
  padding: 0 8rem;
}

.contact__logos {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.contact__logos > * {
  width: auto;
  height: calc(var(--scale) * 2.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerCta {
  width: 100%;
}

.logo {
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 0;
}

.footer__legals {
  margin-top: 2rem;
  display: flex;
  padding: 0 8rem;
  gap: 2rem;
}

.footer__legals * {
  margin: 0;
  padding: 0;
  color: white;
  background-color: transparent;
  font-size: calc(var(--scale) * 0.6);
}

@media (max-width: 1024px) {
  .footer__container {
    gap: 5rem;
    padding: 0 4rem;
  }

  .footer__legals {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    padding: 0;
  }

  .footer__legals {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .footer__legals * {
    align-self: baseline;
  }
}

@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact__logos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .footer__legals {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .footer__legals * {
    align-self: baseline;
  }
}
