.footer {
  background-image: url("/images/hero.png");
  width: 100vw;
  /* height: 50vh; */
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer__container {
  display: flex;
  gap: 10rem;
  padding: 0 8rem;
}

.contact__logos {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.contact__logos > * {
  width: calc(var(--scale) * 2.2);
  height: calc(var(--scale) * 2.2);
}

.footerCta {
  width: 100%;
}

.logo {
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  .footer__container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact__logos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
