.footer {
  background-image: url("/images/hero.png");
  width: 100vw;
  height: 50vh;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer__container {
  display: flex;
  gap: 10rem;
}

.contact__logos {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.contact__logos > * {
  width: calc(var(--scale) * 2.2);
  height: calc(var(--scale) * 2.2);
}

@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact__logos {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
