.footer {
  background-image: url("/images/hero.png");
  width: 100vw;
  height: 50vh;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer__container {
  display: flex;
  gap: 10rem;
}
